#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="full"] .topbar .top-navbar .navbar-collapse {
    margin-left: 260px;
  }
  .topbar .navbar-collapse {
    padding: 0 10px 0 0;
    border-bottom: 1px solid #edf2f9;
  }