body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.vertical-menu {
    width: 200px;
    background-color: #343a40;
    padding-top: 20px;
}

.vertical-menu a {
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.vertical-menu a:hover {
    background-color: #495057;
}